<head th:fragment="head">
<title>Cadastro de Cidades</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div th:fragment="logo" >

	<div class="jumbotron text-center"
		style="margin-left:1%;margin-top:1%; 30%;width:98%; background-color: #ccffff;border-radius: 6px ;">
		<h1>Tecsidel do Brasil</h1>
		<H3>Cadastro de Cidades</H3>

		<a
					style="margin-left: 60%;float:right; color: red" onclick="sair()"
					class="nav-link" href="#"><button class="btn btn-danger">
						<i class="fa fa-sign-out" style="font-size:20px;"></i>Sair
					</button></a>
	</div>
	<div class="col">
			<nav class="nav">

				<a class="nav-link" th:href="@{/cadastro/formulario}"><button class="btn btn-info"><i class="fa fa-plus" style="font-size:20px;"></i>Cadastro</button></a>
				<a class="nav-link" th:href="@{/cadastro/busca}"><button class="btn btn-info"><i class="fa fa-search" style="font-size:20px;"></i>Busca</button></a> 
			</nav>
		</div>

	<form id="form-login" th:action="@{/logout}" method="post"></form>
	<script>
		function sair() {
			$("#form-login").submit();
		}
	</script>
</div>








